body
{
	background-image:url("img/bliss.jpg");
	background-size:cover;
}
.main-window
{
	border:solid 1px;
	width:400px;
	height:300px;
}
.title-bar
{
	height: 38px;
	background-color: blue;
	color:white;

	font-family:Tahoma;

	display:flex;
	justify-content:space-between; /*Выравнивание по горизонтали*/
	align-items:center; /*Выравнивание по вертикали*/
}
.iconsm
{
	width:32px;
	height:32px;
}
.icon-and-title
{
	display:flex;
	align-items:center;
}
.title-bar-window-control-buttons
{
	padding: 0px 5px;
	/*width: 100px;*/
	padding:1px;
}
.title-bar-window-control-buttons, .control-buttons
{
	display: flex;
	align-items: center;
	align-content:center;
}
.control-buttons
{
	height:32px;
	width:32px;
	font-size: 24px;
	padding-left:5px;
	padding-right:5px;
	margin: 0px 1px;
}
.control-button-signature
{
	margin-top:-5px;
	margin-left:-5px;
}
.close-button-signature
{
	margin:-3px 0 0 -1px;
}
.client-rect
{
	/*background-color:rgb(235, 233, 216)*/
	background-color:#EAE8D8;
	height:262px;
}